<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>21.01.2021</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus ab
      similique illum dolore aperiam et suscipit ipsum rem fugiat repellat
      repudiandae voluptatem deleniti numquam odio ducimus sapiente incidunt
      nisi soluta, corporis eos, quasi ea? Laudantium provident nobis facilis
      voluptatem sunt error autem a debitis voluptas minima, ipsum quibusdam
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus ab
      similique illum dolore aperiam et suscipit ipsum rem fugiat repellat
      repudiandae voluptatem deleniti numquam odio ducimus sapiente incidunt
      nisi soluta, corporis eos, quasi ea? Laudantium provident nobis facilis
      voluptatem sunt error autem a debitis voluptas minima, ipsum quibusdam
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus ab
      similique illum dolore aperiam et suscipit ipsum rem fugiat repellat
      repudiandae voluptatem deleniti numquam odio ducimus sapiente incidunt
      nisi soluta, corporis eos, quasi ea? Laudantium provident nobis facilis
      voluptatem sunt error autem a debitis voluptas minima, ipsum quibusdam
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus ab
      similique illum dolore aperiam et suscipit ipsum rem fugiat repellat
      repudiandae voluptatem deleniti numquam odio ducimus sapiente incidunt
      nisi soluta, corporis eos, quasi ea? Laudantium provident nobis facilis
      voluptatem sunt error autem a debitis voluptas minima, ipsum quibusdam
      maiores.
    </p>
  </div>
</div>
